.input {
  margin-right: 8px;
  width: 384px;
  height: 64px;
  border: 1px solid rgba(50, 59, 84, 1);
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(71, 80, 105, 1);
  padding: 0px 16px;
  margin-bottom: 80px;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.search-label {
  position: relative;
  display: block;
}

.label-svg {
  width: 200px;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 24px;
}

.label-container {
  padding-left: 18px;
  position: absolute;
  top: 24px;
}

/* .search-svg {
  margin: 22px 18px;
}

.input-value {
  margin-left: 56px;

} */
