.heading {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(235, 238, 245, 1);
  margin-top: 80px;
  margin-bottom: 16px;
}
